/* Root and global settings */
:root {
    --main-navy: #084574;
    --main-beige: #D2A757;
}

@font-face {
    font-family: 'Recoleta';
    src: url('./assets/Recoleta-RegularDEMO.otf');
}

body {
    background-color: #FCCC4E;
}

* {
    font-family: 'Recoleta', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: var(--main-beige);
    color: black;
}

/* Nav Section */
#nav {
    background: none;
    position: absolute;
    margin-left: 4em;
    margin-right: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
}

#nav img {
    width: 50px;
    border-radius: 15%;
}

#nav-links {
    margin: auto;
    gap: 3em;
    background-color: #FCCC4E;
    padding: 0 2em;
    border-radius: 1em;
    border: 3px solid var(--main-navy);
    cursor: pointer;
}
#nav-links a {
    font-size: 1.5em;
    color: #4E381E;
    font-weight: 600;
    cursor: pointer;
}
#nav-links a:hover {
    scale: 1.1;
    color: #084574;
}
@media screen and (max-width: 992px) {
    #nav {
        margin: auto;
        width: 100vw;
        border: none;
        background-color: #FCCC4E;
        height: fit-content;
        padding: 0;
        border-bottom: 2px solid var(--main-navy);
    }

    #nav-btn {
        background-color: #FBDC87;
    }

    #nav-btn {
        position: relative;
        right: 0;
        margin-right: 1em;
        background-color: #FCCC4E;
        border: 2px solid var(--main-navy);
    }

    .nav-link{
        padding: 0;
        height: 50px;
    }

    #logo {
        color: #FADC87;
        width: 1em;
        margin-left: 1em;

    }
    #nav-links {
        gap: 0;
        margin-left: -1em;
        margin-top: 1em;
        border: none;
    }
}
/* Hero Section */
#hero {
    height: 100vh;
    background-image: url('./assets/hero-logo.png');
    background-size: cover;
    background-position: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: black;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 0.3em;
    font-size: 6em;
    text-align: center;
    text-shadow: 10px 10px 10px black;

}

h1:hover {
    text-shadow: 10px 10px 10px black;
    animation: scaler 1s ease-in-out forwards;
}

#hero p{
    font-size: 2em;
    text-align: center;
    font-weight: 600;
}
@media screen and (max-width: 992px) {
    #hero {
        background-position: 85% top;
    }
    #hero h1{
        font-size: 4.4em;
        text-wrap: wrap;
    }
    #hero p{
        font-size: 1.3em;
    }
}
@keyframes scaler {
    from {
        scale: 1
    }

    to {
        scale: 1.1
    }
}

/* About Us section */
#about {
    display: flex;
    flex-direction: column;
    font-family: 'Recoleta', sans-serif;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 25px;
    min-height: 100vh;
    height: fit-content;
    width: 80vw;
    /* margin: 1.5em auto; */
    margin-bottom: 1.5em;
    position: relative;
    overflow: hidden;
}

#about-top {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    /* width: 80vw; */
    margin: 2.5em 1em;
    border-bottom: 3px solid var(--main-navy);
    padding-bottom: 0.5em;
}

#about-top h5 {
    font-weight: 800;
    /* font-size: 50px; */
    text-align: center;
    /* color: var(--main-navy); */
    font-size: 2.5em;
    margin-bottom: 0.4em;
    font-weight: bold;
    text-shadow: 5px 5px 5px var(--main-beige);
}

#about-top p {
    font-size: 1.3em;
    font-weight: 600;
    font-family: 'Recoleta';
    text-align: center;
}

#about-bottom {
    display: flex;
    gap: 2em;
    align-items: center;
}

#img-section img {
    height: 60vh;
}
#text-section p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    font-size: 0.9em;
}

#text-section p:nth-of-type(1) {
    font-size: 1em;
    font-weight: 600;
}
@keyframes appear {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    #about {
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-bottom: 0;
    }

    #about-top {
        border: none;
        width: 80vw;
        font-size: 0.7em;
        margin-bottom: 0;
    }
    #about-top h5{
        font-size: 2.5em;
    }
    #about-bottom{
        flex-direction: column;
        text-align: left;
        font-size: 0.7em;
    }
    #text-section{
        width: 80vw;
        margin-bottom: 0;
    }

    #about img {
        width: 50vw;
        margin-top: 0;
    }
    #img-section img{
        width: 80vw;
        height: 45vh;
    }
}

/* Services section */
#services {
    width: 100%;
    height: fit-content;
    padding: 5% 5% 0%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

#service-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3em;

}

h2 {
    margin: -1% auto 5%;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 5px 5px 5px var(--main-beige);
}

.card-img {
    width: 100px;
    margin: -50px auto 0;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #FADC87;
    transition: transform 0.01s ease-in-out;
}

.service-card {
    background-color: #0d205e;
    width: fit-content;
    margin: auto;
    color: white;
    text-align: center;
    height: 150px;
    margin-bottom: 10%;
    font-size: 100px;
    outline: none;
    border: 1px solid var(--main-beige);
    box-shadow: 10px 10px 20px 5px var(--main-beige);
    border-radius: 0;
}

.service-card:hover {
    scale: 1.1;
    color: white;
    background-color: #4E381E;
    transform: translatey(-10px);
}

.service-card:hover img {
    transform: translateY(-10px);
    scale: 1.1;
    box-shadow: 5px 5px 10px 1px black;
}
@media screen and (max-width: 992px) {
    #services h2{
        text-align: center;
        font-size: 2.5em;
    }
}
/* Policy Section */
#policy-section {
    width: 90vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    min-height: fit-content;
    flex-wrap: wrap;
}

#left-section {
    margin-bottom: 2em;
}

#left-section h3 {
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 5px 5px 5px var(--main-beige);

}

#left-section button {
    width: 350px;
    background: #4E381E;
    color: #FADC87;
    display: block;
    padding: 20px 20px;
    text-align: left;
    outline: none;
    border: 1px solid var(--main-beige);
    box-shadow: 10px 10px 20px 5px var(--main-beige);
    margin: 20px 0;
    font-size: 20px;
}

#policy-name {
    font-size: 35px;
}

#right-section {
    display: none;
    width: 60vw;
    height: fit-content;
    color: black;
    padding: 20px 20px;
    outline: none;
    border: 1px solid var(--main-beige);
    box-shadow: 10px 10px 20px 5px var(--main-beige);
    margin: 20px 0;
    font-size: 1.2em;
}

#policy-name {
    text-align: center;
    margin: 1.1em;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 5px 5px 5px var(--main-beige);
}

#policy-content li {
    list-style: none;
    margin: 1.2em;
    font-weight: 600;
    color: #4E381E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#policy-content li:nth-child(even) {
    text-align: right;
    color: #0d205e;
    font-weight: 600;
}
@media screen and (max-width: 992px) {
    #right-section{
        width: 100vw;
    }
    #left-section h3{
        font-size: 2.5em;
    }
}
/* Contact Section */
#contact-section {
    min-height: 100vh;
    height: fit-content;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}
#contact-top {
    margin-bottom: 1.5em;
    text-align: center;
}

#contact-top h3 {
    font-size: 2.5em;
    margin: 0 auto;
    padding: 0.5em;
    width: fit-content;
    font-weight: bold;
    text-shadow: 5px 5px 5px var(--main-beige);
}

#contact-top p {
    font-size: 25px;
    margin: auto;
}

#contact-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-form p {
    font-size: 25px;
    width: fit-content;
    font-weight: 600;
}
#contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#contact-form form * {
    width: 30vw;
    height: 3em;
    outline: none;
    border: 1px solid var(--main-beige);
    box-shadow: 10px 10px 20px 5px var(--main-beige);
    border-radius: 1em;
    background-color: #4E381E;
    padding-left: 1em;
    color: #FADC87;
}

form *::placeholder {
    color: #FADC87;
}

#contact-form form textarea {
    padding-top: 1em;
    overflow: hidden;
    resize: none;
    height: 10em;
}

#contact-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 2em;
}

#contact-info,
#contact-social {
    background-color: #4E381E;
    padding: 1em;
    outline: none;
    border-radius: 1em;
    border: 1px solid var(--main-beige);
    box-shadow: 10px 10px 20px 5px var(--main-beige);
    color: #FADC87;
    width: 30vw;
}

#contact-right p {
    font-size: 25px;
}

#contact-info div p span {
    color: white;
}
#contact-social a{
    width: 2.5em;
    margin: 0 0.5em;
}
#contact-links {
    display: flex;
    justify-content: center;
}
#contact-links a svg{
    width: 2.5em;
    filter: invert(1);
}
@media screen and (max-width: 992px) {
    #contact-bottom{
        flex-direction: column;
        gap: 3em;
    }
    #contact-form{
        width: 80vw;
    }
    #contact-form form *{
        width: 80vw;
    }
    #contact-right{
        width: 80vw;
    }
    #contact-info, #contact-social{
        width: 80vw;
    }
    #contact-info div p span{
        display: block;
        color: white;
    }
}
/* footer section */
#footer-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    background-color: #4E381E;
    color: #FADC87;
    text-align: center;
    padding: 2em;
}
#footer-logo-text{
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}
#footer-left img{
    width: 20vw;
}
#footer-left h3 {
    font-weight: 600;
    font-size: 2em;
}

#footer-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5em;
    gap: 1.2em;
}

#footer-center a {
    text-decoration: none;
    color: #FADC87;
}

#footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
}

#footer-right h3 a {
    font-size: 0.8em;
    text-decoration: none;
    color: white;
}

#footer-right h3 span {
    display: block;
    font-size: 0.8em;
    color: white;
}

#footer-right svg {
    width: 2em;
    margin: 0.5em;
    margin-left: 0;
    filter: invert(1);
}
@media screen and (max-width: 992px) {
    #footer-section{
        text-align: left;
    }
    #footer-right h3 span{
        font-size: 1em;
    }
    #footer-left img{
        width: 85vw;
    }
    #footer-right{
        width: 100%;
        margin-top: 2em;
    }
    #footer-center{
        margin-top: 1em;
        width: 100%;
    }
    #footer-right svg{
        width: 1.7em;
    }
}